@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/**/

*{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-text);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

:root{
    --font-color-two: rgb(87, 87, 87);
    --font-color-tree:rgba(87, 87, 87, 0.729);

    --color-btn-search:rgb(255, 228, 20);
    --color-btn-product:rgb(255, 181, 20);
    --color-btn-product-hv:rgb(205, 178, 0);

    --color-border-div:#4747478a;



    --lateral-site:1200px;
}

/*HEADER*/
/*header{

}*/
/*Header container de todos os itens do cabeçalho*/
.header-container{
    display: flex;
    justify-content: center;
}




/*Primeira divisão da nav-header*/


.light-text{
    animation: colorLight 5s infinite; /* Duração de 5 segundos de mudança de cor*/
}

@keyframes colorLight {
    0% { color: rgb(0, 0, 0); } /* Cor inicial */
    25% { color: rgb(229, 214, 0); } /* Nova cor em 25%*/
    50% { color: rgb(243, 203, 1); } /* Nova cor em 50%*/
    75% { color: rgb(221, 3, 3); } /* Nova cor em 75%*/
    100% { color: rgb(0, 0, 0); } /* Cor final*/
}

.social-ico-container{
    width: var(--lateral-site);

    display: inline-flex;
    justify-content: space-around;
    margin-top: 6px;
    margin-bottom: 10px;

    color: var(--font-color-two);
}
.social-generic{

    margin-top: auto;
    margin-bottom: auto; 
}

.social-ico-img{
    display: inline-flex;
    margin-right: auto;
}

.ico-generic{
    margin-left: 3px;
    margin-right: 3px;
}

.social-ico-img img{

    width: 30px;
}

.social-name-center{
    text-align: center;

}
.social-name-partnes{
    margin-left: auto;
}
.social-name-partnes a{
    text-decoration: none;
    color: var(--font-color-two);
    margin-left: 10px;
    margin-right: 10px;

}

header hr{
    color: rgba(53, 53, 53, 0.613);
}





/*Segunda divisão da nav-header*/



#menu-search-name a{
    text-decoration: none;
    color: var(--font-color-two);
}

#menu-search-name img{
    width: 55px;
    height: 50px;

    margin-left: 20%;
}

.ico-user{
    margin-bottom: auto;
    margin-top: auto;
}

.menu-search-container{
    width: var(--lateral-site);
    display: flex;

    margin-bottom: 2px;

}
.menu-search{
    width: var(--lateral-site);
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    margin-top: 13px;
}

/* Estilo do ícone de pesquisa */
.search-icon {
    color: #999;
    padding: 5px;
}

/* Estilo da caixa de entrada de texto */
.search-input {
    border: none;
    outline: none;
    padding: 5px;
    width: 350px;
}

/* Estilo do botão de pesquisa */
.search-button {
    background-color: var(--color-btn-search);
    color: #272727;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
}

.search-container{
    margin-left: auto;
    margin-right: auto;
}

.ico-user-container{
    display: inline-flex;

    margin-top: auto;
    margin-bottom: auto;

}
.ico-user-container img{
    width: 30px;
    height: 30px;

}

.ico-user-generic{
    margin-left: 12px;
    margin-right: 12px;
}











.container-main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-info-product{
    width: var(--lateral-site);
    height: 480px;
    margin-top: 50px;
    border:1px solid var(--color-border-div);
}

.info-product{
    display: inline-flex;
    width: 100%;
    height: 480px;
    overflow: hidden;
   
}

.info-product-container-img{
    width: 450px;

}

.info-product .info-product-img img{
    width: 100%;


}
.info-product-name{
    width: 420px;
    border-left: 1px solid var(--color-border-div);
    padding-left: 5px;
   
}
.info-product h1{
    text-align: center;
}

.info-name-name h1{
    text-align: center;
    margin-bottom: 20px;
    
}

.info-desc-name{
    width: 80%;
}

.info-price-name{
    font-size: 35px;
    font-weight: 800;
    margin-top: 30px;
    text-align: center;
}

.container-btn{
    display: inline-flex;

}

/*Qnt*/

.container-product-quantity{
    width: 100%;
}

.product-quantity{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.decrement{
    margin-right: 10px;
}

.increment{
    margin-left: 10px;
}

.generic-btn-quantity{
    background-color: var(--color-btn-product);
    border: none;
    width: 30px;
    height: 30px;
    border-radius:100%;
    cursor: pointer;
}

.product-quantity > input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.info-qnt-name{
    margin-top: 30%;
    overflow: hidden;
}
.product-quantity-input{
    width: 40px;
    text-align: center;
    background-color: #cbcbcba3;
    border-radius: 2px;
}

.generic-btn-product button{
    width: 150px;
    min-height: 30px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--color-btn-product);
    color: var(--font-color-two);
    border: none;
    cursor: pointer;

}
.info-product-pay{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    height: 480px;
    border-left: 1px solid var(--color-border-div);
}
.info-pay{
    margin-bottom: 30px;
}
.info-pay ul li{
    margin-top: 25px;
    
    overflow: hidden;
}