.menu-container{
    width: 100%;
    height: 80%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    border-radius: 5px;
    overflow: auto;
}


.carrinho-container-produto{
    width: 100%;
    

}

.carrinho-layout-produto{
    width: 100%;
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 1px solid rgba(0, 0, 0, 0.466);
}

.carrinho-generico{
    text-align: center;

    
}

.carrinho-img{
    width: 100px;
    height: 90px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrinho-img img {
    width: 90px;
    border: 1px solid rgba(0, 0, 0, 0.466);
}

.carrinho-nome{
    width: 35%;
}

.carrinho-codigo{
    width: 15%;
}

.carrinho-preco{
    width: 100px;
}

.container-carrinho-buttons{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.carrinho-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.ident-nome{
    text-align: left;
    margin-left: 5px;
}

.carrinho-buttons input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    width: 180px;
    height: 50px;
    color: #fff;
    background-color: var(--color-btn-product);
    font-weight: bold;

}

.container-carrinho-remover{
    width: 20px;

    display: flex;
    justify-content: right;
}

.carrinho-remover button{
    border: none;
    background-color: transparent;
    
    border-bottom: 1px solid var(--color-border-div);

}

.carrinho-remover button img{
    width: 20px;



}   

.ident-sup p{
    border-bottom: 1px solid var(--color-border-div);
}
.border-fim-quantidade{
    border-right: 1px solid var(--color-border-div);
}

.carrinho-buttons input:hover{
    background-color: var(--color-btn-product-hv);

}

.carrinho-quantidade{
    width: 100px;
}

.container-infos{
    display: flex;
    width: 100%;
}

.infos-carrinho{
    display: flex;
    justify-content: space-between;
    width: 100%;
}