/* Estilos padrão */
.menu-container {
    width: 100%;
    height: 80%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    border-radius: 5px;
    overflow: auto;
}
.carrinho-layout-produto{
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    margin-bottom: 10px;
}

.menu-carrinho {
    border-radius: 10px;
    padding: 5px;
}

.container-carrinho-layout {
    width: 100%;
    border-radius: 5px;
    display: flex;
}

.menu-um {
    width: 151px;
}

.layout-img {
    height: 100px;
}

.layout-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-dois {
    width: 100%;
}

.menu-divisivel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(39, 39, 39, 0.61);
    color: white;
}

.menu-divisivel p {
    margin: auto;
}

.menu-carrinho-generico {
    display: flex;
}

.menu-divisivel {
    display: flex;
    align-items: center;
}

.menu-carrinho-nome {
    width: 180px;
}

.menu-cod, .menu-valor, .menu-qnt {
    flex: 1;
}

.btn-remove-produto {
    width: 25px;
    margin-bottom: auto;
    padding: 2px;
}

.carrinho-remover {
    display: flex;
    justify-content: right;
}

.carrinho-remover button {
    width: 22px;
    background-color: transparent;
    border: none;
}

.carrinho-remover button img {
    width: 23px;
    padding: 4px;
    object-fit: cover;
}

.menu-result {
    width: 100%;
    height: 100%;
}

.menu-return-result {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.result-carrinho-generico {}

.result-nome {
    width: 180px;
}

.result-cod, .result-valor, .result-qnt {
    flex: 1;
}

.result-cod, .result-valor, .result-qnt {
    text-align: center;
}

.container-infos {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infos-carrinho {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.container-carrinho-buttons {
    width: 100%;
}

.carrinho-buttons {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.carrinho-buttons input {
    width: 160px;
    height: 45px;
    background-color: var(--color-btn-product);
    color: white;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--color-border-div);
    font-weight: bold;
    text-align: center;
}

.carrinho-buttons input:hover {
    background-color: var(--color-btn-product-hv);
}

/* Media query para dispositivos com largura máxima de 1000px (celulares) */
@media screen and (max-width: 1000px) {
    .menu-divisivel p {
        font-size: 8px; /* Altera o tamanho da fonte */
    }
    .menu-carrinho-nome {
        width: 90px; /* Reduz a largura */
    }
    .menu-cod, .menu-valor, .menu-qnt {
        width: 50px; /* Reduz a largura */
    }
    .carrinho-layout-produto{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .container-carrinho-layout{
        border:1px solid black;
        padding: 2px;
    }

    .menu-carrinho-nome {
        width: 90px;
    }

    .result-nome {
        width: 90px;
        margin-left: 5px;
    }
    .menu-return-result{
        font-size: 11px;
    }
    .layout-img{
        width: 100%;
        height: 70px;
        object-fit: cover;
    }


}
