.menu-container{
    height: 70%;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
* table{
    text-align: center;
}

#carrinho {
    height: 90px;

}

.tble {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagem-total-block {
    height: 90px;
    width: 120px;
}

.imagem-total-block img {
    height: 100%;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr{
    border: none;
}

th, td {
    padding: 8px;
    width: 25%;
    text-align: center;
}

th {
    background-color: rgb(255, 208, 20);
    font-weight: bold;

}

td {
    text-align: center;
}

th > button {
    width: 25px;
    border: none;
    background-color: transparent;
}

th > button img {
    width: 100%;
    background-color: transparent;
}


.container-infos{
    margin-top: 2%;
    width: 100%;
    border-top: 1px solid #ccc;

}

.infos-carrinho{
    width: 100%;

    display: inline-flex;
    justify-content: space-around;

}

.container-carrinho-buttons{
    width: 100%;
}

.carrinho-buttons{
    width: 100%;
    border-radius: 4px;
    display: inline-flex;
    justify-content: space-around;
}

.carrinho-buttons input{
    width: 280px;
    height: 30px;
    margin-top: 8%;
    border-radius: 4px;

    background-color: var(--color-btn-product);

}


@media screen and (max-width: 600px) {
    .tble{
        font-size: 12px;
    }

    th > button {
        width: 20px;
        border: none;
    }
}

@media screen and (max-width: 425px) {
    .imagem-total-block {
        height: 80px;
    }

    th, td{
        padding: 3px;
    }

    th > button {
        width: 20px;
        border: none;
    }
    .menu-container{
        height: 70%;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 2px;
    }
}
