@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/**/

* {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-text);
    padding: 0;
    margin: 0;

}



.textDeco-red {
    text-decoration: underline;
    text-decoration-color: rgb(159, 28, 28); /* Vermelho escuro */
}

.textDeco-green {
    text-decoration: underline;
    text-decoration-color: rgb(28, 159, 28); /* Verde escuro */
}

.textDeco-blue {
    text-decoration: underline;
    text-decoration-color: rgb(28, 28, 159); /* Azul escuro */
}

.textDeco-yellow {
    text-decoration: underline;
    text-decoration-color: rgb(159, 159, 28); /* Amarelo escuro */
}

.textDeco-purple {
    text-decoration: underline;
    text-decoration-color: rgb(159, 28, 159); /* Roxo escuro */
}

.textDeco-cyan {
    text-decoration: underline;
    text-decoration-color: rgb(28, 94, 159); /* Ciano escuro */
}

.textDeco-orange {
    text-decoration: underline;
    text-decoration-color: rgb(255, 128, 0); /* Laranja */
}

.textDeco-pink {
    text-decoration: underline;
    text-decoration-color: rgb(255, 192, 203); /* Rosa */
}

.textDeco-brown {
    text-decoration: underline;
    text-decoration-color: rgb(165, 42, 42); /* Marrom */
}

.textDeco-gray {
    text-decoration: underline;
    text-decoration-color: rgb(128, 128, 128); /* Cinza */
}

:root {
    --color-uni-br: #fff;



    --color-input: #f7f7f7;

    --font-color-two: rgb(87, 87, 87);
    --font-color-tree: rgba(87, 87, 87, 0.729);

    --color-btn-search: rgb(255, 220, 20);
    --color-btn-product: rgb(255, 181, 20);
    --color-btn-product-hv: rgb(205, 144, 0);

    --color-border-div: rgb(144, 144, 144);

    --font-pc-bigger: 35px;
    --font-pc-bigger-title: 24px;
    --font-pc-big: 20px;
    --font-pc-medio: 16px;
    --font-pc-medio-medio: 18px;
    --font-pc-small: 13px;

    --font-smart-big: 16px;
    --font-smart-medio: 13px;
    --font-smart-small: 10px;

    --lateral-site: 1200px;
    --responsive:1030px



    --overflow: hidden;
}

.unselectable {
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Não selecionável em geral */
}
