/*HEADER*/
/*header{

}*/
/*Header container de todos os itens do cabeçalho*/
.header-container {
    display: flex;
    justify-content: center;

}

.header-container-second{

    margin-bottom: 8px;
    box-shadow: 0px 3px 9px 0px  rgba(0, 0, 0, 0.178);
}



/*Primeira divisão da nav-header*/


.light-text {
    animation: colorLight 5s infinite;
    /* Duração de 5 segundos de mudança de cor*/
}

@keyframes colorLight {
    0% {
        color: white;
    }

    /* Cor inicial */
    25% {
        color: white;
    }

    /* Nova cor em 25%*/
    50% {
        color: white;
    }

    /* Nova cor em 50%*/
    75% {
        color: white;
    }

    /* Nova cor em 75%*/
    100% {
        color: white;
    }

    /* Cor final*/
}

@keyframes colorLightNS {
    0% {
        color: #9928f5;
    }

    /* Cor inicial */
    25% {
        color: #411573;
    }

    /* Nova cor em 25%*/
    50% {
        color: rgb(32, 2, 73);
    }

    /* Nova cor em 50%*/
    75% {
        color: #4f06c5;
    }

    /* Nova cor em 75%*/
    100% {
        color: #9928f5;
    }

    /* Cor final*/
}

header, main, footer, body{
    background-color: #fff;
}

.social-ico-container {
    width: var(--lateral-site);

    display: inline-flex;
    justify-content: space-around;

    margin-top: 5px;
    margin-bottom: 5px;

    color: var(--font-color-two);
}

.header-container-primary > .social-ico-container{

 
}   

.social-generic {

    margin-top: auto;
    margin-bottom: auto;
}

.social-generic p{
    margin: auto;
}

.social-ico-img {
    display: inline-flex;
    margin-right: auto;
}

.ico-generic {
    margin-left: 3px;
    margin-right: 3px;
}

.social-ico-img img {

    width: 30px;
}

.social-name-center {
    margin: auto;
}
.hr-headr{
    
}

.social-name-partnes {
    margin-left: auto;
}

.social-name-partnes a {
    text-decoration: none;
    color: var(--font-color-two);
    margin-left: 10px;
    margin-right: 10px;

}

header hr {
    color: rgba(53, 53, 53, 0.613);
}

.container-header-two{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--color-bg);
}

.header-primary-color{
    background-image: linear-gradient(to right, rgb(255, 187, 0), rgba(255, 187, 0, 0.932), rgb(255, 187, 0), rgb(255, 208, 0));
}





/*Segunda divisão da nav-header*/




.ico-user {
    margin-bottom: auto;
    margin-top: auto;
}














.menu-search-container {
    width: var(--lateral-site);
    display: flex;

    margin-bottom: 2px;

}

.menu-search {
    width: var(--lateral-site);
    display: flex;

    margin-bottom: 5px;
    justify-content: space-around;
}

.search-container-princ{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container-paralel{
    width: 100%;
}
.search-bar-header input{
    border: none;
    padding: 5px;
    outline: none;
    width: 100%;
    height: 100%;
}

.search-container-btn{
    height: 100%;
}

.search-container-btn button{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    padding: 5px;
    background-color: var(--color-btn-search);
    border-bottom-right-radius: 10px;
    border: none;

    
}

.search-container-btn button p{
    margin: auto;
}



.img-logo img {
    width: 95px;
}

.search-bar-header{
    width: 100%;
    padding: 2px;
}


.search-container {
    margin: auto;
}

.search-container-paralel {
    width: 700px;
    height: 45px;

    display: inline-flex;
    border: 1px solid var(--color-border-div);
    border-radius: 10px;
}















.ico-user-container {
    display: inline-flex;

    margin-top: auto;
    margin-bottom: auto;

}

.ico-user-container img {
    width: 30px;
    height: 30px;

}

.ico-user-generic {
    margin-left: 12px;
    margin-right: 12px;
}



/*Terceira divisão da nav-header*/

.nav-container {
    width: var(--lateral-site);
    display: flex;

    margin-bottom: 10px;
}

.nav-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
}

.nav-item-generic{

    width: 100px;
    transform: skew(-10deg);
    border-radius: 5px;
    padding: 5px;
    


    background-color: var(--color-btn-search);
}


.nav-item-generic:hover{
    background-color: rgb(214, 183, 7);

}

.nav-item-container-img{
    width: 70px;
    margin: auto;

}

.nav-item-container-img img{
    width: 100%;
}








/*FIM HEADER*/


/*MAIN*/
main{
    background-color: var(--color-bg);
}

main a {
    color: black;
    text-decoration: none;
}

.main-container {
    
}

/*carrosel*/

.carrosel-container {
    width: 100%;
    
    overflow: hidden;
}

/* Estilo básico para o slide */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.mySlides img {
    height: 300px;

}

.mySlides {
    display: none;
}

/* Botões para avançar e retroceder manualmente */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: var(--font-pc-big);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.dropdown-content {
    display: none;
    position: fixed; /* Mudança para position: fixed */
    background-color: #f9f9f9;
    margin-top: 5px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999; /* Z-index muito alto */
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(168, 21, 21);
    
}

.nav-item-generic:hover .dropdown-content {
    display: block;
}  




/*Fim carrosel*/

.container-slides{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slides-primary{
    width: 1300px;


}


/*carrosel responsive*/
.carrosel-responsive{
    display: none;
}
.carousel-item{
    z-index: 1;
}
.title-main-product h1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
}

/*Apresentção de produtos*/

.main-product {
    display: flex;
    justify-content: center;
}

.container-main-anuncio {
    width: var(--lateral-site);
    display: inline-flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}




.main-anuncios {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.main-anuncios-box {
    width: 550px;
    height: 190px;
    border-radius: 20px;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    background-color: #db3434;
    overflow: hidden;


}

.main-anuncios-box img {
    width: 100%;
    height: 100%;
}



.catalago-box-container {
 

}

  .catalago-box {

  }

/*BASE PRODUTOS*/



.catalago-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}





/*Block Menu Anuncios*/

.main-block-anuncios {
    width: 100%;
    display: flex;
    justify-content: center;


}

.container-block {
    width: var(--lateral-site);
    display: inline-flex;
    justify-content: center;
}

.block-box {
    width: 100%;
    margin: 50px;

    display: inline-flex;
    justify-content: space-between;
}

.box-anuncio {

    padding: 5px;
    overflow: hidden;
    width: 180px;
    height: 150px;
    border-radius: 15px;
    margin: auto;
}

.box-anuncio img {
    margin-top: 25%;
    margin-bottom: 25%;
    width: 100%;
}

/*Fim Block menu anuncios*/
/*Footer inicico*/

/*Maps container(Config só do container)*/
.container-maps {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    background-color: var(--color-bg);
}

/*Config do footer*/
footer *{
    overflow: hidden;
    background-color: #fff;
}


footer {
    display: block;
    overflow: hidden;
    align-items: end;

}

footer p{
    overflow: hidden;
}

.borda {
    overflow: hidden;
    width: 100%;
    height: 30px;

    background-color: var(--color-btn-product);
}

.box-footer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.container-footer {
    width: var(--lateral-site);

    display: inline-flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;

}

.container-footer img {
    width: 45px;
}

.container-footer span {
    color: black;
    text-align: center;
    text-decoration: none;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-right: 3px solid var(--color-border-div);
}

.footer-logo img {
    width: 150px;

}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social img {}

.footer-social a {
    text-align: center;
}

.footer-contato {
    margin-left: 40px;
    padding-left: 3px;
    border-left: 3px solid var(--color-border-div);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-contato p {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-localizacao {
    margin-left: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 3px solid var(--color-border-div);
    border-left: 3px solid var(--color-border-div);
    padding-left: 3px;
    padding-right: 3px;
}

.footer-localizacao p {
    margin: auto;
}
.maps-ico-move{
    margin: auto;
}
.footer-container-desenvolvedor {
    height: 100%;
    display: flex;


    margin-left: 10px;

}

.nive-sistemas {
    font-size: 17px;
    color: rgb(191, 0, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nive-sistemas:hover {

    animation: colorLightNS 5s infinite;
    /* Duração de 5 segundos de mudança de cor*/
}

.container-nive-sistemas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.img-text-generic {
    display: inline-flex;
}

.img-text-generic p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text-generic img {
    margin-left: 3px;
    margin-right: 3px;
}







/*Conteudo Desligado para Smart*/

.main-block-anuncios-smart {
    display: none;
}


/*FIM Conteudo Desligado para Smart*/


/*Carrinho personalização*/

/*Modal (.modal): É a janela modal principal que envolve todo o conteúdo.*/




/*Mostra o produto com mais detalhemento em uma nova janela*/
.page-product-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.product-view-content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-product-btn {
    top: 10px;
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}

/*Estilo dentro da view*/
/*Container de todo info prod*/
.Container-product-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*Visual do prod*/
.product-view {
    width: 1100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(201, 201, 201);
}

/*product main*/
.product-view-main {
    display: inline-flex;
}

/*container img*/
.product-view-img-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Altera a IMG bruta*/
.product-view-img {}

.product-view-img-container img {
    width: 100%;
    height: 100%;

}

/*container das infos do produto*/
.container-product-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-view-info {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;

}

/*container title*/
.product-view-title {
    font-size: 25px;
    margin-bottom: 10px;
}

/*container da descrição*/
.product-view-desc {
    width: 510px;
    height: 100px;
    text-align: justify;
    font-size: var(--font-pc-medio);
    margin-bottom: 20px;
}

/*Preço*/
.product-view-price {
    margin-bottom: 10px;
    margin-top: 10px;
}

.view-price {
    color: rgb(82, 82, 251);
}

/*Quantidade desejada*/
.product-view-qnt {}

.quantity-block {
    display: flex;
    align-items: center;
    width: 130px;
    height: 45px;
    border: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--color-input);
    margin-bottom: 10px;
}

/* Estilo para o botão de aumento e diminuição */
.quantity-button {
    cursor: pointer;
    font-size: 1.2em;
    margin: auto;
    height: 100%;
    background-color: #fff;
    border: none;
    user-select: none;
    text-align: center;
    color: var(--color-btn-product);
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: var(--color-input);
    padding-left: 5px;
    padding-right: 5px;

}

/* Estilo para a caixa de números */
.quantity-input-style {
    width: 50px;
    height: 40px;
    overflow: hidden;
}

.quantity-input {
    width: 100%;
    height: 100%;

    text-align: center;
    border: none;
    font-size: 1em;

    background-color: var(--color-input);
}

/*Container Btn*/
.product-view-btn {
    width: 100%;
    display: inline-flex;

}

.product-view-btn input {
    width: 130px;
    height: 40px;
    margin-right: 20px;

    border: none;
    border-radius: 10px;

    background-color: var(--color-btn-product);

    color: var(--color-uni-br);
    font-size: 16px;
    font-weight: bolder;

    cursor: pointer;
}

/*FIM Mostra o produto com mais detalhemento em uma nova janela*/


/*Menu para celular pequeno parte inferior*/




/*Menu responsivo celular*/


/* Adicionei as regras para telas menores que 1030px */

@media screen and (max-width: 1030px) {
    .container-header-two,
    .main-anuncios-box,
    .hr-two,
    .social-ico-img,
    .social-name-partnes,
    .anuncios-box_two,
    .main-block-anuncios,
    .main-block-pc,
    .container-slides,
    .carrosel-container {
        display: none;
    }

    * {
        font-size: var(--font-smart-medio);
    }

    .menu-search {
        display: block;
    }

    .ico-user {
        display: flex;
        margin-top: 10px;
        text-align: center;
    }

    .ico-user-container {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-border-div);
    }

    .header-container-primary > .social-ico-container {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 20px;
    }

    .search-container {
        width: 100px;
    }

    .img-logo {
        display: flex;
        justify-content: center;
    }

    .search-bar-header {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-container input {
        font-size: var(--font-smart-medio);
        height: 27px;
    }

    .search-container button {
        width: 100%;
    }

    .main-block-anuncios-smart {
        display: flex;
    }

    .box-anuncio {
        width: 90px;
        height: 90px;
        border-radius: 15px;
    }

    .container-base-product {
        width: 180px;
    }

    .main-anuncios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    .main-anuncios-box img {
        width: 100%;
    }

    .carrosel-responsive {
        display: block;
        width: 100%;
        height: 400px;
    }

    .carrosel-responsive img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .search-container-paralel {
        display: flexbox;
        width: 500px;
        justify-content: center;
        align-items: center;
        
    }

    .product-view-btn {
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .modal-title,
    .modal-title-close,
    .modal-title-h2,
    button,
    .product-view-title {
        overflow: hidden !important;
    }
    .catalago-box{
        flex: 1; 
    }

    .catalago-box-container {
        width: 100%;
    }

    .container-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fff;
        border-top: 1px solid var(--color-border-div);
    }

    .container-footer img {
        width: 45px;
    }

    .container-footer span {
        color: black;
        text-align: center;
        text-decoration: none;
    }

    .footer-logo {
        border: none;
        text-align: center;
    }

    .footer-logo img {
        width: 150px;
    }

    .footer-social {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-social > .img-text-generic > p {
        display: none;
    }

    .smart-remove {
        display: none;
    }

    .footer-contato {
        border: none;
        border-top: 3px solid var(--color-border-div);
        margin: 2px;
        border-bottom: 3px solid var(--color-border-div);
    }

    .footer-localizacao {
        margin-left: 0px;
        width: 100%;
        border-right: none;
        border-left: none;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 3px solid var(--color-border-div);
    }

    .footer-localizacao p {
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    .footer-localizacao > .img-text-generic > p {
        display: none;
    }

    .footer-localizacao img {
        margin-top: 10px;
    }

    .footer-container-desenvolvedor {
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 10px;
        height: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
    }



    .nive-sistemas {
        text-decoration: none;
        color: rgb(149, 0, 255);
        font-size: 17px;
        margin-top: 5px;
    }
}




